.lead {
  display: flex;
  max-width: 76.88%; /* 984px */
  margin: 0 148px;
  margin-top: 28px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: 90.63%;
    margin: 0 48px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 100%;
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 618px) {
  .lead {
    margin-top: 32px;
  }
}
