.intro {
  display: flex;
  width: 690px;
  margin: 92px 0;
  margin-left: 11%;
  flex-direction: column;
}

@media screen and (max-width: 1216px) {
  .intro {
    margin-left: 9%;
  }
}

@media screen and (max-width: 1152px) {
  .intro {
    margin-left: 7%;
  }
}

@media screen and (max-width: 1087px) {
  .intro {
    margin: 90px 0;
    margin-left: 4%;
  }
}

@media screen and (max-width: 830px) {
  .intro {
    width: 94%;
  }
}

@media screen and (max-width: 618px) {
  .intro {
    margin: 72px auto;
    margin-left: 4%;
  }
}

@media screen and (max-width: 469px) {
  .intro {
    margin: 64px auto;
    margin-left: 5%;
  }
}
