.cover {
  display: flex;
  width: 92%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    margin: 0;
  }
}
