.place {
  display: grid;
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-auto-rows: 1fr;
  column-gap: 41px;
  row-gap: 48px;
}

@media screen and (min-width: 1024px) and (max-width: 1087px) {
  .place {

    column-gap: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 830px) {
  .place {
    
    margin-bottom: 0;
    row-gap: 28px;
  }
}

@media screen and (min-width: 470px) and (max-width: 618px) {
  .place {
    margin-bottom: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
    grid-auto-rows: minmax(min-content, 1fr);
    column-gap: 0;
    row-gap: 32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 469px) {
  .place {
    margin-bottom: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
    grid-auto-rows: minmax(min-content, 1fr);
    column-gap: 0;
    row-gap: 32px;
  }
}