.footer {
  display: flex;
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
  padding-bottom: 24px;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 90.625%;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 93.75%;
    /*margin: 0 24px;*/
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
}

/*@media screen and (max-width: 618px) {
  .footer {
    margin-top: 72px;
  }
}*/

@media screen and (max-width: 618px) {
  .footer {
    min-width: 58%;
    margin: 0;
    margin-top: 64px;
    padding-left: 16px;
    align-items: start;
  }
}
