.place__website {
  grid-area: website;
  align-self: end;
}

@media screen and (max-width: 767px) {
  .place__website {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 469px) {
  .place__website {
    width: 91%;
  }
}